<html>
    <head>
        <title>Electrical Engineering blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">University Subjects</a></h1>
        </div>
        {% for post in posts %}
            <div>
              <p>published: {{ post.published_date }}</p>
              <h1><a href="">{{ post.title }}</a></h1>
              <p>{{ post.text|linebreaks }}</p>
            </div>
        {% endfor %}
        <div>
            <p>2015 Semester 2</p>
            <h2><a href="">MZB126 Engineering Computation</a></h2>
            <p><strong>Mathematics:</strong> Matrix methods for large linear systems. First order linear and non-linear, and second order constant coefficient, ordinary differential equations.
            <br /><strong>Programming:</strong> Implementing MATLAB and MuPAD in construction and manipulation of data and arrays, matrix operations, program control and flow, functions, writing and plotting. Solving differential equations using computational symbolic manipulation.
            <br /><strong>Statistics:</strong> Aspects of data modeling and analysis and the quantification of uncertainty including probability and conditional probability, random variables and distributions, categorical variables and data. Continuous data, standard errors, prediction estimation and linear regression.
            </p>
        </div>

        <div>
            <h2><a href="">EGB120 Foundations of Electrical Engineering</a></h2>
            <p><strong>DC Circuits:</strong> measurement of DC electrical quantities, circuit analysis using mesh currents, Thevenin and Norton equivalents, capacitance and inductance, time domain solutions for simple transient behaviour.
            <br /><strong>AC Circuits:</strong> sinusoidal signal representation, impedance, circuit analysis using phasors, frequency response, power in AC systems.
            <br /><strong>Electronic Devices and Circuits</strong> Diodes, operational amplifier circuits, filters, rectifiers and voltage regulators.
            </p>
        </div>

        <div>
            <h2><a href="">EGB121 Engineering Mechanics</a></h2>
            <p>
              <ol>
                <li>Generalised 2D forces (system reduce to a force and couple)</li>
                <li>Types of support and the reaction forces.</li>
                <li>Calculation of axial stress and strain in members of structures & machine components using different materials properties. (including idealisation of supports, FBD and determinacy)</li>
                <li>Stress-strain of common engineering materials, including Young's modulus, yield and tensile strengths</li>
                <li>3D forces and equilibrium</li>
                <li>Bending and deflection of Beams (BM & SF diagrams), including stress, centroid and moment of area calculations</li>
                <li>Introduction to torsion in solid and hollow beams (shafts) and torsion formula.</li>
              </ol>
            </p>
        </div>
    </body>
</html>
